* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root {
    --primary: #2E1065;
    --text: #FFF;
    --secondary: #745ab3;
    --accent: #06B6D4;
    --warning: #F59E0B;
    --success: #16A34A;
    --error: #DC2626;
    --info: #3267D9;
    --instagram: #D94747;
    --github: #000000;
    --linkedin: #1B58DD;
    --copyright: #f5f5f5;
    
}

body {
    background: linear-gradient(#2E1065, #765fac);
    color: var(--text);
    line-height: 1.6;
    
}

html {
    scroll-behavior: smooth;
    
}
    
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;

}

.text-info h2 {
    font-size: 27px;
    margin-bottom: 6px;

}

.text-info p {
    color: var(--text);
    font-size: 17px;

}

.float-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--accent);
    object-fit: cover;
    box-shadow: 0 0 15px;
    animation: float 3s ease-in-out infinite;
    margin-top: 20px;

}

/* Animação de imagem */
@keyframes float {
    0% {
        transform: translateY(0px); 
    }
    50% {
        transform: translateY(-11px);
    }
    100% {
        transform: translateY(0px);
        
    }

}

.menu_responsive {
    display: none;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 1300;
    margin: 12px;
    cursor: pointer;

}

.menu_responsive span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--text);
    border-radius: 2px;
    transition: 0.5s;

}

.menu_responsive span:nth-child(1) {
    top: 0;

}

.menu_responsive span:nth-child(2) {
   top: 10px;

}

.menu_responsive span:nth-child(3) {
    top: 20px;

}

.navegation.active .menu_responsive span:nth-child(1) {
    transform: rotate(44deg);
    top: 9px;

}

.navegation.active .menu_responsive span:nth-child(2) {
    opacity: 0;

}

.navegation.active .menu_responsive span:nth-child(3) {
    transform: rotate(-44deg);
    top: 9px;

}


.navegation {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 11px;
    
}

.navegation ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    list-style: none;
    
}

.navegation a {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
    padding: 9px 10px;
    cursor: pointer;
    
}

.navegation a:hover {
    text-decoration: underline;
    
}

.header img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: 0.5s;
    border-color: var(--accent);
    box-shadow: 0 0 19px var(--accent);

}

.header h2 {
    font-size: 27px;
    margin-bottom: 5px;

}

.header p {
    color: var(--text);

}

.about {
    max-width: 800px;
    margin: 40px auto;
    padding: 28px;

}

.subtitulo {
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    
}

.subpar {
    color: var(--text);
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.7;
    
}

.subbox {
    padding: 2.03rem;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--info);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.10);
    transition: all 0.4s ease;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.7);

}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    
}

.card {
    flex: 1 1 300px;
    max-width: 350px;
    padding: 26px;
    background-color: var(--secondary);
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    transition: 0.3s;

}

.card p {
    margin: 0 auto;
    width: 80%;
}

.card:hover {
    transform: scale(1.02);
    
}

.answer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 16px 0;
    
}

.answer-box input {
    width: 180px;
    padding: 9px 10px;
    border: 2px solid var(--secondary);
    border-radius: 6px;
    font-size: 16px;
    text-align: center;

}

.answer-box button {
    padding: 8px 13px;
    border: none;
    border-radius: 7px;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    
}

.result {
    margin-top: 11px;
    padding: 9px 13px;
    border-radius: 9px;
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0.9;
    display: inline-block;
    min-width: 120px;

}

.result.success {
    background-color:var(--success);
    color: var(--text);

}

.result.warning {
    background-color: var(--warning);
    color: var(--text);
    
}

.result.error {
    background-color: var(--error);
    color: var(--text);

}

.result.info {
    background-color: var(--info);
    color: var(--text);

}

.result.show {
    opacity: 1;
    transform: scale(1.05);

}

.sub-boox {
    padding: 2rem;
    max-width: 600px;
    margin: 70px auto;
    border: 2px solid var(--info);
    border-radius: 16px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.7);
    display: flex;
    background-color: var(--primary);
    align-items: center;
    transition: 0.4s;
    gap: 1rem;
    
}

.gender-Validator span {
    color: var(--copyright);
    
}

.about-me p {
    margin: 0;
    padding: 4px;
    color: var(--text);
    
}

.about-me i {
    color: var(--info);
    margin: 6px;
    
}

.about-me a {
    color: var(--text);
    text-decoration: none;

}

.about-me a:hover {
    text-decoration: underline;

}

footer.networks-icons {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    gap: 6px;
    text-align: center;
    justify-content: center;
    
}

.instagram {
    gap: 13px;
    margin: 5px;
    border-radius: 50%;
   
}

.instagram i {
    font-size: 19px;
    color: var(--text);
    padding: 7px;
    border-radius: 50%;
    transition: 0.4s;
    
}

.instagram i:hover {
    background-color: var(--instagram);
    cursor: pointer;

}

.github {
    gap: 13px;
    margin: 5px;
    border-radius: 50%;
    
}

.github i {
    font-size: 19px;
    color: var(--text);
    padding: 7px;
    border-radius: 50%;
    transition: 0.4s;
   
}

.github i:hover {
    background-color: var(--github);
    cursor: pointer;

}

.linkedin {
    margin: 5px;
    border-radius: 50%;

}

.linkedin i {
    font-size: 19px;
    color: var(--text);
    padding: 7px;
    border-radius: 50%;
    transition: 0.4s;
    
}

.linkedin i:hover {
    background-color: var(--linkedin);
    cursor: pointer;
    
}

.rights {
    align-items: center;
    margin-bottom: 20px;
    color: var(--copyright);
    flex-direction: column;
    
}

/* Responsividade */
@media (max-width: 760px) {
    .profile {
        flex-direction: column;
    }
    .divider {
        display: none;
    }
    .float-img {
        width: 120px; height: 120px;
        
    }
}

/* Responsividade */
@media (max-width: 480px) {
    .text-info h2 {
        font-size: 22px;
    }
    .text-info p {
        font-size: 14px;
        
    }
}

    /* Responsividade */
@media (max-width: 750px) {
    .menu_responsive {
        display: block;
    
    }
    
    .navegation ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 60vw;
        height: 100vh;
        transition: left 0.4s ease;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        z-index: 1200;
        margin: 0;
        padding-left: 0;
        border-radius: 7px;
        background-color: var(--secondary);
    
    }
    
    .navegation.active ul {
        left: 0;
        padding-left: 0px;
    
    }
    
    .navegation ul li a {
        font-size: 1.1rem;
        width: 100%;
        display: block;
        padding: 9px 20px;
        
    }
}